html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
p {
  font-size: 0.8em;
  text-align: center;
  margin: 2em;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
